.toppic {
	z-index: -1;
	margin-top: -100px;
	margin-left: -20px;
	position: relative;
}

h1 {
	z-index: 1;
	color: white;
}

button {
	display: block;
	padding: 15px;
	width: 100%;
	margin-top: 25px;
	background-color: crimson;
	font-size: 1.5em
}

.bottom1 {
	width: 33%;
	float: left;
	display: inline-block;
	border: solid .5px;
	padding-left: 3px;
	font-size: 1.5em;
}

.bottom2 {
	width: 33%;
	float: left; 
	display: inline-block;
	border: solid .5px;
	padding-left: 3px;
	font-size: 1.5em;
}

.bottom3 {
	width: 33%;
	float: left;
	display: inline-block;
	border: solid .5px;
	padding-left: 3px;
	font-size: 1.5em
}

p {
	float: right;
	padding-right: 6em;	
	margin-top: 2em
}

main {
	min-width: 1330px;
}

main p {
	align-text: center;	
}

input {
	height: 25px;
}

label {
	display: block;
}

input {
	width:100%
}

body {
	margin-right: 5%;
	margin-left: 5%;
}
