.button {
	background: darkred;
	padding: 15px;
	width: 7em;
	margin: 1em 2em;
	color: white;
	font-size: 2em;
	position: inline-block;
}

nav {
	text-align: center;
	min-width: 1070px;
}

.picture {
	width: 100%;
}

h1 {
	width: 50%;
	font-size: 5em; 
}

p {
	font-size: 1.5em;
}

body {
	margin-left: 10%;
	margin-right: 10%;
}