aside {
	float: left;
	padding-bottom: 100%;
	font-family: sans-serif;
	border-right: solid grey 1px;
}

.list {
	list-style: none;
	padding: 5px;
	margin: 5px;
	margin-right: 2em;
	font-size: 1.3em;
}

.heading {
	font-size: 1em;
	text-transform: uppercase;
	padding: 5px;
}

p, h1, h2 {
	margin-left: 25%;
}
